/plots

/vit-tiny/PACS/checkpoints
/vit-tiny/CMNIST/checkpoints
/vit-tiny/VLCS/checkpoints
/vit-tiny/officeHome/checkpoints

/resnet/PACS/checkpoints
/resnet/VLCS/checkpoints
/resnet/officeHome/checkpoints
/resnet/CMNIST/checkpoints
/resnet/TerraIncognita/checkpoints