/vit-tiny/PACS/checkpoints
/vit-tiny/CMNIST/checkpoints
/vit-tiny/VLCS/checkpoints
/vit-tiny/officeHome/checkpoints
/vit-tiny/TerraIncognita/checkpoints

/resnet18/PACS/checkpoints
/resnet18/VLCS/checkpoints
/resnet18/officeHome/checkpoints
/resnet18/CMNIST/checkpoints
/resnet18/TerraIncognita/checkpoints

/vit-small/PACS/checkpoints
/vit-small/CMNIST/checkpoints
/vit-small/VLCS/checkpoints
/vit-small/officeHome/checkpoints
/vit-small/TerraIncognita/checkpoints

/resnet34/PACS/checkpoints
/resnet34/VLCS/checkpoints
/resnet34/officeHome/checkpoints
/resnet34/CMNIST/checkpoints
/resnet34/TerraIncognita/checkpoints

/resnet18_experiments/PACS/checkpoints
/resnet18_experiments/VLCS/checkpoints
/resnet18_experiments/officeHome/checkpoints
/resnet18_experiments/CMNIST/checkpoints
/resnet18_experiments/TerraIncognita/checkpoints